---
title: Riverbed SteelCentral AppInternals for PCF (Beta)
owner: Partners
---

<p class="note warning">
<strong>BETA TEST SOFTWARE! </strong>
The Riverbed SteelCentral AppInternals for PCF tile is currently in beta test. It is intended for evaluation and test purposes only. Do not use this product in a PCF production environment.
</p>

<!-- ####AppInternals Helps You Build and Manage High-Performing Applications, Infrastructure and Networks On and Off the Cloud####
 -->
 
## <a id='overview'></a>Overview

Riverbed® SteelCentral AppInternals™ for PCF monitors Java applications running in a Pivotal Cloud Foundry v1.2 or v2.0 environment.  

In addition to instrumenting and monitoring applications running in PCF containers, the AppInternals agent collects metrics on key operating system on VM hosts (Diego or compute cells) where the applications are running. 

<%= image_tag("architecture.png") %>

This documentation describes installing the AppInternals Service Broker tile for PCF and configuring applications to start with AppInternals monitoring.  

See the following links for general information on AppInternals:
* [Product overview](https://www.riverbed.com/products/steelcentral/steelcentral-appinternals.html)
* [Product documentation](http://doc.steelcentral.net/)

<!-- AppInternals delivers scalable, high-definition application 
performance monitoring and analytics with deep visibility into transactions, containers and services. 
AppInternals uses a big data approach to capture and store every transaction and its associated metadata. 
AppInternals also captures system and container data at 1 second intervals. With this, you get immediate 
insight into application performance problems, even for infrequent or intermittent issues, and a 
cost-effective, scalable solution for all your web and mobile application monitoring needs.

* **Application Performance Insights**
Trace every transaction from user to back-end. Understand app dependencies, or expose 
and fix even the most hard-to-detect code, SQL, network or web services problems quickly.

* **Network & Infrastructure Diagnostics**
Continuously monitor your dynamic infrastructure. See their impact on your apps and 
vice versa. Resolve resource utilization and network-related errors before users are impacted.

* **User Experience & Business Insights**
Understand your users’ satisfaction and trends in real-time. Identify your application’s 
best and least used features, and quantify its financial impact on business results.
 -->
<!-- **Note**: This overview will appear under **OVERVIEW**, combined with the description above in the tile's listing on 
[Pivotal Network](http://network.pivotal.io).-->

## <a id='features'></a>Key Features

<!-- **Note**: This feature list will appear under **FEATURES** in the tile's listing on 
[Pivotal Network](http://network.pivotal.io). 
Make sure you list the key features of the tile (the integration). 
We cannot accept a list of the key features of your product that we are integrating.-->

* **Never Miss a Performance Problem**
You’re only two clicks from an answer to virtually any performance problem. Continuously monitor 
the full stack on and off the cloud with little overhead to expose and troubleshoot issues in great detail.

* **Reconstruct &amp; Diagnose All Incidents**
Trace transactions from the user, over the network and into the backend, while capturing system 
metrics every second. Reconstruct incidents in great detail to fix application, network or infrastructure issues.

* **Manage Distributed Environments**
Monitor your dynamic infrastructure, including those within IaaS, PaaS and containerized environments. 
See your server and network topology to understand dependencies or plan for capacity.

* **Derive Business &amp; App Intelligence**
Discover key business transactions and quantify the application’s financial impact on the business. 
Use simple queries to expose bugs or to plan for capacity. Improve performance with every release.

* **Collaborate Across the Application Lifecycle**
Share insights across the application lifecycle. Use REST API to consume alerts, metrics and diagnostics 
across the build tool chain, collaboration tools and incident management tools.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Riverbed SteelCentral AppInternals for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v10.14.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>TODO: December 1, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v10.14.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.12.x, and v2.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (formerly known as Elastic Runtime) version(s)</td>
        <td>v1.12.x, and v2.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, vSphere, Azure, OpenStack</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Yes</td>
    </tr>
</table>
* As of PCF v2.0, <em>Elastic Runtime</em> is renamed <em>Pivotal Application Service (PAS)</em>. 

## <a id="reqs"></a>Requirements

One of the following is required to use AppInternals:

* An AppInternals license key (Trial or Subscription) for Riverbed's SaaS Analysis Server

* Or a private on-premises Analysis Server installation

## <a id="limitations"></a>Limitations

This version does not support Windows stemcells (it will ignore them)

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list, send an email to [Riverbed Support](mailto:support@riverbed.com) or call Riverbed Support at 1-888-782-3822 (1-888-RVBD-TAC).  

## <a id='license'></a>License

Learn more [here](https://www.riverbed.com/products/steelcentral/steelcentral-appinternals.html) and [here](https://www.riverbed.com/appinternals/) (see videos, webinars, and whitepapers)

Customers interested in using Riverbed SteelCentral AppInternals for PCF can download the tile and install 
it.  Get a free trial license here: [Instant Access Trial](https://www.riverbed.com/appinternals/Evaluate-SteelCentral-AppInternals-Instant-Access.html)
