---
title: Riverbed SteelCentral AppInternals for PCF (Beta)
owner: Partners
---

<p class="note warning">
<strong>BETA TEST SOFTWARE! </strong>
The Riverbed SteelCentral AppInternals for PCF tile is currently in beta test. It is intended for evaluation and test purposes only. Do not use this product in a PCF production environment.
</p>

<!-- ####AppInternals Helps You Build and Manage High-Performing Applications, Infrastructure and Networks On and Off the Cloud####
 -->
 
## <a id='overview'></a>Overview

Riverbed® SteelCentral AppInternals™ for PCF monitors Java applications running in a Pivotal Cloud Foundry v1.2 or v2.0 environment.  

This documentation describes installing the AppInternals Service Broker tile for PCF and configuring applications to start with AppInternals monitoring.  

AppInternals agents capture every application transaction at 1 second intervals.  
In addition to instrumenting and monitoring applications running in PCF containers, the agent collects metrics on key operating system on VM hosts <!-- (Diego or compute cells) --> where the applications are running. 

The AppInternals analysis server harvests, processes, and displays this data, giving you immediate insight into application performance problems.  

See the following links for MORE information on AppInternals:

* [Product overview](https://www.riverbed.com/products/steelcentral/steelcentral-appinternals.html)

* [Product documentation](http://doc.steelcentral.net/)

<!-- AppInternals delivers scalable, high-definition application 
performance monitoring and analytics with deep visibility into transactions, containers and services. 
AppInternals uses a big data approach to capture and store every transaction and its associated metadata. 
AppInternals also captures system and container data at 1 second intervals. With this, you get immediate 
insight into application performance problems, even for infrequent or intermittent issues, and a 
cost-effective, scalable solution for all your web and mobile application monitoring needs.

* **Application Performance Insights**
Trace every transaction from user to back-end. Understand app dependencies, or expose 
and fix even the most hard-to-detect code, SQL, network or web services problems quickly.

* **Network & Infrastructure Diagnostics**
Continuously monitor your dynamic infrastructure. See their impact on your apps and 
vice versa. Resolve resource utilization and network-related errors before users are impacted.

* **User Experience & Business Insights**
Understand your users’ satisfaction and trends in real-time. Identify your application’s 
best and least used features, and quantify its financial impact on business results.
 -->

<!-- **Note**: This overview will appear under **OVERVIEW**, combined with the description above in the tile's listing on 
[Pivotal Network](http://network.pivotal.io).-->

## <a id='features'></a>Summary of Steps 

<!-- **Note**: This feature list will appear under **FEATURES** in the tile's listing on 
[Pivotal Network](http://network.pivotal.io). 
Make sure you list the key features of the tile (the integration). 
We cannot accept a list of the key features of your product that we are integrating.-->

The *AppInternals for PCF* tile includes the Riverbed AppInternals Service Broker and the BOSH add-on for the AppInternals Agent.  Install the tile to deploy the agent on PCF VM hosts (additional steps are required for PCF v1.12).

<%= image_tag("architecture.png") %>

To monitor applications:

* In the PCF Ops Manager:

  * Import the tile 

  * Configure the service broker to specify agent settings, including the analysis server that will host the agent data
  
  * Apply changes 

  See [Installing and Configuring AppInternals](installing.html) for details.

* In your development environment or staging area, use the Cloud Foundry CLI to push an application from your environment to PCF
  
* In the Pivotal Apps Manager, bind the application to the Appinternals service 

* In your development environment or staging area, use the Cloud Foundry CLI to restage the application


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Riverbed SteelCentral AppInternals for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v10.14.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>TODO: December 1, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v10.14.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.12.x, and v2.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (formerly known as Elastic Runtime) version(s)</td>
        <td>v1.12.x, and v2.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, vSphere, Azure, OpenStack</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Yes</td>
    </tr>
</table>
* As of PCF v2.0, <em>Elastic Runtime</em> is renamed <em>Pivotal Application Service (PAS)</em>. 

## <a id="reqs"></a>Requirements

One of the following is required to use AppInternals:

* An AppInternals license key (Trial or Subscription) for Riverbed's SaaS Analysis Server

* Or a private on-premises Analysis Server installation

## <a id="limitations"></a>Limitations

This version does not support Windows stemcells.  Applications pushed to a Windows cell will be ignored.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list, send an email to [Riverbed Support](mailto:support@riverbed.com) or call Riverbed Support at 1-888-782-3822 (1-888-RVBD-TAC).  

## <a id='license'></a>License

Learn more [here](https://www.riverbed.com/products/steelcentral/steelcentral-appinternals.html) and [here](https://www.riverbed.com/appinternals/) (see videos, webinars, and whitepapers)

Customers interested in using Riverbed SteelCentral AppInternals for PCF can download the tile and install 
it.  Get a free trial license here: [Instant Access Trial](https://www.riverbed.com/appinternals/Evaluate-SteelCentral-AppInternals-Instant-Access.html)
