---
title: Working with PKS
owner: Partners
---

This topic explains how to deploy the Aternity APM agent on PKS.

## <a id='pks'></a>Working with PKS

11.4.2 supports both Kubernetes and PKS.  

For more information, see [Deploying The Agent on Kubernetes Using a DaemonSet](https://doc.steelcentral.net/help/wwhelp/wwhimpl/js/html/wwhelp.htm#href=Configuration%20and%20Reference/agent_deployCloud.html#1186708).


