---
title: Working with PKS
owner: Partners
---

This topic explains how to deploy the Aternity APM agent on PKS.

## <a id='pks'></a>Working with PKS

11.4.2 supports Kubernetes environments such as PKS.  

When using PKS you do not install the Aternity APM Tile.  Instead, Aternity provides a downloadable software kit (including Helm charts) to deploy the Agent to a Kubernetes cluster. 

Do the following:

1. Download the **Aternity APM for Kubernetes** software and Release Notes from the [Riverbed Support Site](https://support.riverbed.com/content/support/software/steelcentral-ap/appinternals.html )

2. Follow the instructions at [Deploying The Agent on Kubernetes Using a DaemonSet](https://doc.steelcentral.net/help/wwhelp/wwhimpl/js/html/wwhelp.htm#href=Configuration%20and%20Reference/agent_deployCloud.html#1186708)





