---
title: Working with PKS
owner: Partners
---

This topic explains how to deploy the Aternity APM agent on PKS.

## <a id='pks'></a>Working with PKS

11.4.2 supports both Kubernetes and PKS.  

For more information, see the topic "Deploying The Agent on Kubernetes Using a DaemonSet" in the **Configuration and Reference Guide** in the Aternity APM 11.4.2  documentation on the  [Riverbed Support Site](https://support.riverbed.com/content/support/software/steelcentral-ap/appinternals.html).


