---
title: Release Notes
owner: Partners
---

<% if false %>
This is a comment that is stripped out by the ruby processor
<!-- **This topic should include the Release Notes for your product. For examples, see the 
[GCP Service Broker Release Notes](http://docs.pivotal.io/gcp-sb/release-notes.html) or the 
[ISS Knowtify Search Analytics Release Notes](http://docs.pivotal.io/knowtify/release.html).
When you release a new version, add new release notes to this file, keeping the older notes below.** -->
<% end %>

<% if false %>
This is a comment that is stripped out by the ruby processor
HOPEFULLY, the markdown below will show indented lists.
<% end %>

## <a id="ver"></a> v10.21.1-BL516

**Release Date:** June 12, 2019

* **[Fixed]**: When pushing an app that shares a config with an already running app, the original app's status incorrectly changes to "May Require Restart".
* **[Fixed]**: The connection from our Agent to the Analysis Server could go up and down repeatedly, causing some loss of metric instances.
* **[New]**: Our Service Broker now displays its version in the marketplace.

## <a id="ver"></a> v10.21.0-BL531

**Release Date:** April 26, 2019

* **[New Feature]**: Support for .NET Core applications on Linux.

* **[New Feature]**: New fields in the [Tile Configuration](installing.html#config)
  - Cluster name (defaults to the system domain name)
  - Default config for all apps

* **[UI Improvement]**: Cluster Name is prepended to the server name in the Servers and Instances Tabs of the UI (e.g. server name used to be "diego-0", it's now "my.cluster.name-diego/0")

* **[New Feature]**: New optional [Environment Variables](using.html#envvars) for applications 
  - `RVBD_APP_CONFIG`: the AppInternals config name to use for this App
  - `RVBD_APP_INSTANCE`: the Instance Name to use for the App in the UI

* **[Change]**: Use **Java BuildPack version 4.18** or higher.  (There is no longer a need to copy and host our profiler zip file.)

* **[Change]**: Update Tile to use Xenial stemcell. Continue support for Applications using Trusty, Centos, and Xenial stemcells


## <a id="ver"></a> v10.17.1-BL510

**Release Date:** December 29, 2018 

* Support for Applications using Trusty, Centos, and Xenial stemcells

