---
title: Release Notes
owner: Partners
---

<!-- **This topic should include the Release Notes for your product. For examples, see the 
[GCP Service Broker Release Notes](http://docs.pivotal.io/gcp-sb/release-notes.html) or the 
[ISS Knowtify Search Analytics Release Notes](http://docs.pivotal.io/knowtify/release.html).
When you release a new version, add new release notes to this file, keeping the older notes below.** -->

## <a id="ver"></a> v10.17.1

**Release Date:** December 18, 2018 

**Features included in this release:**

* Subsequent release on the Pivotal Network
