---
title: Release Notes
owner: Partners
---

<% if false %>
This is a comment that is stripped out by the ruby processor
<!-- **This topic should include the Release Notes for your product. For examples, see the 
[GCP Service Broker Release Notes](http://docs.pivotal.io/gcp-sb/release-notes.html) or the 
[ISS Knowtify Search Analytics Release Notes](http://docs.pivotal.io/knowtify/release.html).
When you release a new version, add new release notes to this file, keeping the older notes below.** -->
<% end %>

<% if false %>
This is a comment that is stripped out by the ruby processor
HOPEFULLY, the markdown below will show indented lists.
<% end %>
## <a id="ver"></a> v11.7.1-BL518

**Release Date:** September 25, 2020

* **[New]** Enabling offline buildpack deployment.
* **[New]** Improved reporting of web requests for .NET Core

## <a id="ver"></a> v11.4.3-BL547

**Release Date:** May 1, 2020

* **[Fix]** Sporadic firewall conflicts have been resolved.

## <a id="ver"></a> v11.4.2-BL528

**Release Date:** March 30, 2020

* **[New]** The product is renamed to: Aternity APM for PCF
* **[New]** Support for Pivotal Kubernetes Service (PKS) 1.5 and 1.6
* **[New]** .NET Core 3.0 / 3.1 Apps supported by a built-in buildpack
* **[New]**: Support for Pivotal Application Service v2.8 and Tanzu Application Service for VMs v2.9
* **[New]** Our built-in .NET Core buildpack is versioned, enabling you to continue using a specific version of the Aternity profiler
* **[Change]** Recommend use of Java BuildPack version v4.29 or higher (v4.20+ is required). v4.29 allows you to choose a specific version of the Aternity profiler
* **[Improvement]** You can create custom tags. When using the environment variables "RVBD_CT_<tag-name>" the <tag-name> can be specified in lowercase, and it will show up in the Analysis Server in lowercase.
* **[Fix]** You can set the .NET Core instance name via manifest (it used to be the DLL name)
* **[Fix]** Agent Log files are cleaned up, preventing excessive disk usage
* **[Fix]** Several memory issues with the Agent were fixed
* **[Fix]** Apache Kafka now supported

## <a id="ver"></a> v10.21.5-BL512

**Release Date:** April 30, 2020

* **[Fix]** Sporadic firewall conflicts have been resolved.

## <a id="ver"></a> v10.21.5-BL509

**Release Date:** February 10, 2020

* **[Change]**: Removed unnecessary DNS reverse lookups.

## <a id="ver"></a> v10.21.5-BL506

**Release Date:** October 15, 2019

* **[New Feature]**: support for VMware Tanzu 2.7

## <a id="ver"></a> v10.21.4-BL516

**Release Date:** September 3, 2019

* **[Change]**: Use Java BuildPack version 4.20 or higher - supports offline Java buildpacks.

* **[Improvement]**: DotNetAgent performance enhancements.

* **[Fixed]**: Installation of VMware Tanzu tiles could fail due to broken soft links.

* **[Fixed]**: Always use https to contact AppInternals service broker.
* **[Fixed]** Several cases of incorrect or missing data:
  * NancyFx and AspNet Core report client IP address incorrectly.
  * Internal NullReferenceExceptions caused missing transactions.
  * Trace Properties occasionally missing, such as a URL, which could affect transaction stitching.
  * Instrumented application unable to connect to DSA, causing loss of data until an application restart.
  * Overstitching issue causing many transactions to be reported as a single large transaction.
* **[Fixed]** Application crashes
  * Instrumentation of a Netty app might cause NoClassDefFoundError.
  * Instrumentation of static interface methods in Java caused IncompatibleClassChangeError.


## <a id="ver"></a> v10.21.1-BL516

**Release Date:** June 14, 2019

* **[Fixed]**: When pushing an app that shares a config with an already running app, the original app's status incorrectly changes to "May Require Restart".
* **[Fixed]**: The connection from our Agent to the Analysis Server could go up and down repeatedly, causing some loss of metric instances.
* **[New]**: Our Service Broker now displays its version in the marketplace.

## <a id="ver"></a> v10.21.0-BL531

**Release Date:** April 26, 2019

* **[New Feature]**: Support for .NET Core applications on Linux.

* **[New Feature]**: New fields in the [Tile Configuration](installing.html#config)
  - Cluster name (defaults to the system domain name)
  - Default config for all apps

* **[UI Improvement]**: Cluster Name is prepended to the server name in the Servers and Instances Tabs of the UI (e.g. server name used to be "diego-0", it's now "my.cluster.name-diego/0")

* **[New Feature]**: New optional [Environment Variables](using.html#envvars) for applications 
  - `RVBD_APP_CONFIG`: the AppInternals config name to use for this App
  - `RVBD_APP_INSTANCE`: the Instance Name to use for the App in the UI

* **[Change]**: Use **Java BuildPack version 4.18** or higher.  (There is no longer a need to copy and host our profiler zip file.)

* **[Change]**: Update Tile to use Xenial stemcell. Continue support for Applications using Trusty, Centos, and Xenial stemcells
