---
title: Using AppInternals
owner: Partners
---

This topic describes how to use Riverbed SteelCentral AppInternals for PCF.

##<a id='overview'></a> Overview

There are several ways to bind your apps to the AppInternals Service.  This is one of them:

1. Use the Apps Manager to find your application

1. Select your application instance and click on the **Services** tab

    <%= image_tag("SelectApp.png") %>

1. Click on **BIND SERVICE**

    <%= image_tag("BindServiceAppsManager.png") %>

1. Select the AppInternals Service and click **BIND**. There are no Parameters to add.

    <%= image_tag("BoundServiceAppsManager.png") %>


**TODO Screenshot(s) of the Analysis Server** 

<!--**TODO You can also use this section to include information about Architecture and Troubleshooting for known errors. 
If you include a Troubleshooting section, follow the Symptom/Explanation format used in the 
[Okta Troubleshooting](http://docs.pivotal.io/p-identity/okta/troubleshooting.html) topic**.-->
