---
title: Using AppInternals
owner: Partners
---

This topic describes one approach to push an application to PCF and bind it to an AppInternals service instance. 


## <a id='before'></a>Before You Begin

1. Complete the one-time steps described in [Installing and Configuring AppInternals] (installing.html)
1.  Create a [Pivotal Network account] (https://account.run.pivotal.io/z/uaa/sign-up) if you do not have one.
1.  Install the Cloud Foundry Command Line Interface (cf CLI) if it is not already installed in your environment. See [Installing the cf CLI] (https://docs.pivotal.io/pivotalcf/2-1/cf-cli/install-go-cli.html).


##<a id='cli'></a>Log in Using the cf CLI and Pivotal API Endpoint 

1. Open a command-prompt window. 

1. Identify your Pivotal API endpoint and version. 

1. Enter the `cf API` command to :

    $ cf api

    You should see the following output:

    api endpoint: https://api.my.pivotal.io

api version: 2.103.0

    Log in to the Pivotal endpoint:

    cf login

    Enter your email address and Pivotal password when prompted.


##<a id='push'></a>Push the Application

##<a id='bind'></a>Bind the Service Plan to the Application

1. Use the Apps Manager to find your application

1. Select your application instance and click on the **Services** tab

    <%= image_tag("SelectApp.png") %>

1. Click on **BIND SERVICE**

    <%= image_tag("BindServiceAppsManager.png") %>

1. Select the AppInternals Service and click **BIND**. There are no Parameters to add.

    <%= image_tag("BoundServiceAppsManager.png") %>


##<a id='restage'></a>Restage the Application

##<a id='confirm'></a>Enjoy Your Data!

After you restage the application, the AppInternals analysis server will automatically harvest performance data.

**TODO Screenshot(s) of the Analysis Server** 

<!--**TODO You can also use this section to include information about Architecture and Troubleshooting for known errors. 
If you include a Troubleshooting section, follow the Symptom/Explanation format used in the 
[Okta Troubleshooting](http://docs.pivotal.io/p-identity/okta/troubleshooting.html) topic**.-->
